.comics {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

  &__group {
    flex-basis: calc(100% / 4 - 2rem);
    flex-grow: 1;
    margin: 1rem;
  }

  &__name {
    font-size: 13px;
  }

  &__issue {
    margin: 0.5rem 0;
    font-size: 13px;

    &::before {
      content: '#';
    }
  }

  &__btn {
    width: 100%;
    padding: 0.3rem 0;
    border: 0;
    border-radius: 0.3rem;
    background: $c-primary;
    color: $c-white;
  }
}

@media (max-width: 420px) {
  .comics {
    margin: 0 -0.5rem;

    &__group {
      flex-basis: calc(100% / 2 - 1rem);
      margin: 0.5rem;
    }
  }
}
