.main {
  width: 75%;
  padding-left: 2rem;

  &__title {
    margin: 0;
    border-bottom: 0.1rem solid $c-black;
    font-family: 'Bangers', sans-serif;
    font-size: 1.5rem;
  }
}
@media (max-width: 420px) {
  .main {
    width: 60%;
  }
}
